.title {
    padding: 20px;
    text-align: center;
    background: teal;
  }

.bar {
    /* padding: 20px; */
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
    background: #ddd;
    border-top: 25px;
    float: middle;
    display: block;
    width: 100%;
  }

.bar:hover {
    background-color: #eee;
}

.bar2 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background: #777;
    float: middle;
    width: 100%;
    font-size: 24px;
  }

  #ags {
      display: none;
  }